$max-width: 1140px;

// Colors
$main-color: #f9bf3b;
$btn-color: #2798b9;
$blue-text-color: #299cbd;
$dark-color: #4a4a4a;
$black-color: #252525;
$light-color: #fff;
$bg-light-gray: #efefef;
$bg-icons: #b4e2ff;

// Footer color
$text-footer-color: #888888;
$bg-footer: #1a1a1a;
